@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&subset=latin-ext&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #08221F;
    --foreground: #ededed;
  }
}

::-webkit-scrollbar {
  width: 6px; /* Largura do scroll */
}

/* Estiliza o "polegar" do scroll */
::-webkit-scrollbar-thumb {
  background-color: #ff6600b4; /* Cor do "polegar" do scroll */
}


html{
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  user-select: none;
}
